---
import Layout from "../layouts/Layout.astro";

import "@new-ui/reset";
import "@new-ui/colors";
import "@new-ui/typography";
import "@new-ui/effects";
import "@new-ui/spacings";
import Dashboard from "../components/Dashboard";
---

<Layout
  site="MLPops"
  title="MLOps инструменты"
  tagline="Откройте для себя инструменты ML и MLOps."
>
  <main>
    <Dashboard client:load />
  </main>
</Layout>
